MONGODB_URI=mongodb://localhost:27017/rentalsphere
JWT_SECRET=rentalsphere_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
PORT=5001
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Email (for forgot password — optional, uses Ethereal in dev)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# eSewa Config (Test Credentials)
ESEWA_SCD=EPAYTEST
ESEWA_SECRET=8gBm/:&EnhH.1/q
ESEWA_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form

# Khalti Configuration (Test Credentials — v2 ePay)
KHALTI_SECRET_KEY=Key test_secret_key_3f78fb6364ef4bd1b5fc670ce33a06f5
KHALTI_PUBLIC_KEY=test_public_key_3f78fb6364ef4bd1b5fc670ce33a06f5
KHALTI_VERIFY_URL=https://dev.khalti.com/api/v2/epayment/lookup/

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

